{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique a modi possimus eum ea, non cum asperiores
    deleniti temporibus? In accusantium, voluptas dolore asperiores vitae perspiciatis porro unde tenetur nobis sequi
    quas molestias quaerat impedit doloribus assumenda ea. Autem totam delectus doloribus! Tenetur laboriosam dicta
    dolorem, doloremque rem tempora perspiciatis assumenda cupiditate libero earum sed ab? Sint labore eius perferendis
    quae dicta esse tempore autem. Sequi minus fuga error quod, culpa ea repellat adipisci maxime omnis architecto
    neque, veniam reprehenderit et nam reiciendis alias! Nostrum, quasi eos inventore doloribus labore consectetur
    praesentium amet cupiditate sapiente ipsa, natus nemo quis commodi dolor autem qui aut ducimus explicabo cum
    consequuntur voluptatibus, quae placeat fugiat at. Id, vero cumque! Fugiat, neque eaque debitis tempora, consectetur
    ea corrupti non nulla, autem aut ut adipisci. Possimus beatae voluptatum consequuntur unde hic, dicta sunt libero
    quos a ipsam voluptates ullam.</p>
{{end}}